#nav-bar {
  background-color: #e6b89c;
  text-align: center;
  display: flex;
  padding: 15px;
  user-select: none;
}
h1 {
  color: rgb(80, 42, 31);
  font-size: 25px;
  font-weight: bold;
  margin: 0.65% 0px;
  cursor: pointer;
  flex-shrink: 0;
  flex-basis: 20%;
}
i {
  font-size: 35px;
  margin: 4px -15px 4px 20px;
  cursor: pointer;
}
#add-item-button {
  background-color: #4281a4;
  font-size: 90%;
  color: #ead2ac;
  margin-left: 62%;
  border-radius: 15px;
  border: none;
  flex-shrink: 0;
  flex-basis: 130px;
}
